* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: skyblue;
  margin: 0;
  text-align: center;
  padding: 0;
}

.container {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  flex: 2 1;
  /* align-items: center; */
  margin: 10px;
}
#chartContainer {
  /* width: 100%; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

table,
td {
  border: 2px solid white;
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
}

table {
  /* width: 50%; */
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 230px;
}

thead {
  font-weight: bold;
  font-size: larger;
}

/* #chartContainer {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
} */
